body {
    margin: 0;
    padding: 0;
}

#dungeon {
    width: 100%;
    background-color: whitesmoke;
}

.separator {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.separator-item {
    width: 50%;
    height: 100%;
}

.action-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.action-item {
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    background-color: gray;
    text-align: center;
}

.action-item:hover {
    cursor: pointer;
    background-color: #404040;
}

.separator-item:has(.action-list) {
    overflow-y: scroll;
}

.relic-list {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
}

.relic-item {
    width: 7%;
    margin: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}


#relic-description, #action-description {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .separator {
        flex-direction: column;
    }

    .separator-item {
        width: 100%;
    }
    .relic-list {
        width: 100%;
    }
}

#select-relic-dialog-relic-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.select-relic-dialog-relic-item {
    width: 100px;
    margin: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-relic-dialog-relic-item:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.select-relic-dialog-relic-item-name {
    font-size: 12px;
}

.select-relic-dialog-relic-item-description {
    font-size: 8px;
    flex-grow: 2;
    text-align: left;
}

.select-relic-dialog-relic-item-image {
    width: 70%;
    margin: auto;
}

#quiz-dialog, #answer-dialog, #action-detail-dialog, #relic-detail-dialog {
    width: 50%;
    height: 50%;
    max-width: 600px;
}

#quiz-dialog-content, #answer-dialog-content, #action-detail-dialog-content, #relic-detail-dialog-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#quiz-dialog-question, #answer-dialog-answer, #action-detail-dialog-description, #relic-detail-dialog-description {
    overflow-y: scroll;
    flex-grow: 2;
}

#quiz-dialog-show-answer{
    align-self: flex-start;
}

#relic-description {
    pointer-events: none;
}

#action-detail-dialog-effects, #relic-detail-dialog-effects {
    width: 90%;
}

.action-detail-dialog-effect {
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

.action-detail-dialog-effect-image {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.action-detail-dialog-effect-content {
    flex-grow: 2;
}

.action-detail-dialog-effect-content-name {
    font-size: 16px;
}

.action-detail-dialog-effect-content-description {
    font-size: 12px;
}

#relic-detail-dialog-image {
    width: 10%;
    height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#action-detail-dialog-name, #relic-detail-dialog-name {
    font-size: 24px;
    margin-bottom: 0;
}

#action-detail-dialog-description-text, #relic-detail-dialog-description-text {
    margin-top: 0;
}