body {
    margin: 0;
    padding: 0;
}

#dungeon {
    width: 100%;
    background-color: whitesmoke;
}

.separator {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.separator-item {
    width: 50%;
    height: 100%;
}

.action-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.action-item {
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    background-color: gray;
    text-align: center;
}

.action-item:hover {
    cursor: pointer;
    background-color: #404040;
}

.separator-item:has(.action-list) {
    overflow-y: scroll;
}

.relic-list {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
}

.relic-item {
    width: 7%;
    margin: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}


#relic-description {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .separator {
        flex-direction: column;
    }

    .separator-item {
        width: 100%;
    }
    .relic-list {
        width: 100%;
    }
}

#select-relic-dialog-relic-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.select-relic-dialog-relic-item {
    width: 100px;
    height: 100%;
    margin: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.select-relic-dialog-relic-item:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.select-relic-dialog-relic-item-name {
    font-size: 12px;
}

.select-relic-dialog-relic-item-description {
    font-size: 8px;
    height: 40px;
    text-align: left;
}

.select-relic-dialog-relic-item-image {
    width: 70%;
    margin: auto;
}